@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-VariableFont_wght.ttf);
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Oswald", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #111111;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  padding: 10px 30px 10px 25px;
  min-width: 245px;
  min-height: 40px;
  color: #ffffff;
  background-color: #68b738;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  opacity: 0.3;
}

.page-header {
  position: relative;
  min-height: 66px;
}
.page-header__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.page-header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 66px;
}
.page-header__logo-mobile {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 768px) {
  .page-header {
    min-height: 77px;
  }
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 30px;
  }
  .page-header__logo {
    display: block;
    width: auto;
    height: auto;
  }
  .page-header__logo:hover {
    opacity: 0.8;
  }
  .page-header__logo:active {
    opacity: 0.6;
  }
  .page-header__logo img {
    width: 178px;
    height: 58px;
  }
  .page-header__logo-name-mobile {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 720px;
    height: 696px;
    background: url(/img/index-background-desktop.jpg.jpg) 50% no-repeat;
  }
  .page-header__wrapper {
    padding: 50px 110px 0;
  }
  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  margin-left: -20px;
  margin-right: -20px;
}
.main-navigation--closed .site-list {
  display: none;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #222222;
  -webkit-box-shadow: 0 8px 0 0, 0 16px 0 0;
          box-shadow: 0 8px 0 0, 0 16px 0 0;
}
.main-navigation--opened .site-list {
  display: block;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #222222;
}
.main-navigation--opened .main-navigation__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-navigation--opened .main-navigation__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-navigation__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-navigation__toggle {
    display: none;
  }
}
.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-list__item {
  width: 100%;
  min-height: 66px;
  padding: 23px 0;
  text-align: center;
  border-bottom: 1px solid;
  border-bottom-color: #e6e6e6;
}
.site-list__item:first-child {
  margin-left: 0;
  border-top: 1px solid;
  border-top-color: #e6e6e6;
}
.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.site-list__link:hover {
  opacity: 60%;
}
.site-list__link:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__item {
    width: auto;
    min-height: 42px;
    margin-left: 33px;
    padding: 12px 0;
    border-bottom: none;
  }
  .site-list__item--active {
    border-bottom: 2px solid;
    border-bottom-color: #68b738;
  }
  .site-list__item:first-child {
    border-top: none;
  }
  .site-list__link {
    font-size: 18px;
    line-height: 24.86px;
    color: #222222;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    width: auto;
    margin-left: 36px;
    border-bottom: none;
  }
  .site-list__item--active {
    border-bottom: 2px solid;
    border-bottom-color: #ffffff;
  }
  .site-list__link {
    font-size: 20px;
    line-height: 24.86px;
    color: #ffffff;
  }
}

.page-main {
  background: url(/img/index-background-mobile.jpg) top center no-repeat;
  background-size: 100% auto;
}
@media (min-width: 768px) {
  .page-main {
    background: none;
  }
}

.programms {
  min-height: 1055px;
  min-width: 320px;
  margin-bottom: 25px;
}
.programms__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.programms__header {
  width: 100%;
  min-height: 480px;
  text-align: center;
  overflow-x: hidden;
}
.programms__main-title {
  margin-bottom: 25px;
  padding-top: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
  color: #ffffff;
}
.programms__slogan {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: inherit;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.programms__link {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: inherit;
  line-height: 18px;
  text-transform: uppercase;
}
.programms__slim, .programms__weight {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programms {
    margin-bottom: 45px;
  }
  .programms__wrapper {
    padding: 0 30px;
  }
  .programms__flex-wrapper {
    width: 100%;
  }
  .programms__header {
    min-height: 850px;
    padding-left: 90px;
    text-align: left;
    background-image: url("/img/index-can-tablet.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .programms__main-title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }
  .programms__slogan {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }
  .programms__logo-image {
    display: none;
  }
  .programms__link {
    display: block;
    min-width: 245px;
    min-height: 52px;
    max-width: 280px;
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .programms {
    min-height: 1005px;
    margin-bottom: 72px;
  }
  .programms__wrapper {
    padding: 0 110px;
  }
  .programms__flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .programms__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 395px;
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 178px;
    background: none;
    overflow-x: visible;
  }
  .programms__logo-image {
    position: absolute;
    top: -50px;
    left: 420px;
    width: 552px;
    height: 499px;
    display: block;
  }
  .programms__slim, .programms__weight {
    margin-bottom: 0;
  }
}

.slim {
  position: relative;
  padding: 22px 35px 22px 20px;
  min-width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
}
.slim__title {
  margin-top: 13px;
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
}
.slim__title::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
.slim__title::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background: url("/img/slim-icon.svg") center no-repeat;
  background-size: 100%;
}
.slim__description {
  padding-bottom: 22px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid;
  border-color: #d9d9d9;
}
.slim__catalog-link {
  position: absolute;
  bottom: 25px;
  display: block;
  margin-top: 18px;
  font-size: 16px;
  line-height: 8px;
  text-transform: uppercase;
  color: #111111;
}
.slim__catalog-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 95px;
  width: 17px;
  height: 3px;
  background-color: #3e4242;
}
.slim__catalog-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 112px;
  width: 11px;
  height: 11px;
  border: 5px solid transparent;
  border-left: 7px solid;
  border-left-color: #3e4242;
}
.slim__catalog-link:hover::before {
  width: 26px;
}
.slim__catalog-link:hover::after {
  left: 121px;
}
.slim__catalog-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .slim {
    padding: 70px 275px 55px 52px;
    min-height: 370px;
  }
  .slim__title {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 36px;
  }
  .slim__title::before {
    top: 92px;
    right: 60px;
    left: auto;
    width: 200px;
    height: 200px;
  }
  .slim__title::after {
    top: 80px;
    right: 92px;
    left: auto;
    width: 140px;
    height: 194px;
    background-image: url("/img/slim-icon-big.svg");
  }
  .slim__description {
    padding-bottom: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
  .slim__catalog-link {
    bottom: 65px;
    font-size: 20px;
    line-height: 20px;
  }
  .slim__catalog-link::before {
    bottom: 6px;
    left: 125px;
  }
  .slim__catalog-link::after {
    bottom: 2px;
    left: 142px;
  }
  .slim__catalog-link:hover::after {
    left: 151px;
  }
}
@media (min-width: 1440px) {
  .slim {
    max-width: 570px;
    padding: 78px 30px 55px 50px;
  }
  .slim__title {
    margin-bottom: 70px;
    text-align: center;
  }
  .slim__title::before {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
  .slim__title::after {
    top: 41px;
    left: 66px;
    right: auto;
    width: 70px;
    height: 97px;
    background-image: url("/img/slim-icon-desktop.svg");
  }
  .slim__description {
    margin-bottom: 40px;
  }
  .slim__catalog-link::before {
    bottom: 8px;
  }
  .slim__catalog-link::after {
    bottom: 4px;
  }
}

.weight {
  position: relative;
  padding: 22px 35px 22px 20px;
  min-width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
}
.weight__title {
  margin-top: 13px;
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
}
.weight__title::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
.weight__title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 9px;
  width: 75px;
  height: 31px;
  background: url("/img/weight-icon.svg") center no-repeat;
  background-size: 100%;
}
.weight__description {
  padding-bottom: 22px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid;
  border-color: #d9d9d9;
}
.weight__catalog-link {
  position: absolute;
  bottom: 25px;
  display: block;
  margin-top: 18px;
  font-size: 16px;
  line-height: 8px;
  text-transform: uppercase;
  color: #111111;
}
.weight__catalog-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 95px;
  width: 17px;
  height: 3px;
  background-color: #3e4242;
}
.weight__catalog-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 112px;
  width: 11px;
  height: 11px;
  border: 5px solid transparent;
  border-left: 7px solid;
  border-left-color: #3e4242;
}
.weight__catalog-link:hover::before {
  width: 26px;
}
.weight__catalog-link:hover::after {
  left: 121px;
}
.weight__catalog-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .weight {
    padding: 70px 315px 55px 52px;
    min-height: 370px;
  }
  .weight__title {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 36px;
  }
  .weight__title::before {
    top: 92px;
    right: 60px;
    left: auto;
    width: 200px;
    height: 200px;
  }
  .weight__title::after {
    top: 135px;
    right: 28px;
    left: auto;
    width: 268px;
    height: 112px;
    background-image: url("/img/weight-icon-big.svg");
  }
  .weight__description {
    padding-bottom: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
  .weight__catalog-link {
    bottom: 65px;
    font-size: 20px;
    line-height: 20px;
  }
  .weight__catalog-link::before {
    bottom: 6px;
    left: 125px;
  }
  .weight__catalog-link::after {
    bottom: 2px;
    left: 142px;
  }
  .weight__catalog-link:hover::after {
    left: 151px;
  }
}
@media (min-width: 1440px) {
  .weight {
    max-width: 570px;
    padding: 78px 30px 55px 50px;
  }
  .weight__title {
    margin-bottom: 70px;
    text-align: center;
  }
  .weight__title::before {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
  .weight__title::after {
    top: 69px;
    left: 34px;
    right: auto;
    width: 134px;
    height: 56px;
    background-image: url("/img/weight-icon-desktop.svg");
  }
  .weight__description {
    margin-bottom: 40px;
  }
  .weight__catalog-link::before {
    bottom: 8px;
  }
  .weight__catalog-link::after {
    bottom: 4px;
  }
}

.advatanges {
  margin-bottom: 42px;
}
.advatanges__title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: inherit;
  line-height: 60px;
}
.advatanges__wrapper {
  padding: 0 20px;
}
.advatanges__item {
  position: relative;
  min-width: 280px;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;
}
.advatanges__item::before, .advatanges__item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  min-height: 60px;
  max-width: 80px;
  max-height: 80px;
  background-color: #68b738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/advantage-1.png);
}
.advatanges__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  min-height: 60px;
  max-width: 80px;
  max-height: 80px;
  background-color: #68b738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/andvantage-2.png);
}
.advatanges__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  min-height: 60px;
  max-width: 80px;
  max-height: 80px;
  background-color: #68b738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/advantage-3.png);
}
.advatanges__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  min-height: 60px;
  max-width: 80px;
  max-height: 80px;
  background-color: #68b738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/advantage-4.png);
}
.advatanges__description {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .advatanges {
    margin-bottom: 40px;
    border-bottom: 1px solid;
    border-color: #e6e6e6;
  }
  .advatanges__title {
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 60px;
  }
  .advatanges__wrapper {
    padding: 0 30px;
  }
  .advatanges__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advatanges__item {
    width: 245px;
    min-width: auto;
    min-height: 230px;
    padding-top: 115px;
    padding-left: 0;
    margin-bottom: 89px;
  }
  .advatanges__item:nth-child(2n-1) {
    margin-right: 110px;
  }
  .advatanges__item:nth-child(2n) {
    margin-right: 80px;
  }
  .advatanges__item::after, .advatanges__item:first-child::after {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-size: 281.07px;
    line-height: 281.07px;
    content: "1";
  }
  .advatanges__item:nth-child(2)::after {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-size: 281.07px;
    line-height: 281.07px;
    content: "2";
  }
  .advatanges__item:nth-child(3)::after {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-size: 281.07px;
    line-height: 281.07px;
    content: "3";
  }
  .advatanges__item:nth-child(4)::after {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-size: 281.07px;
    line-height: 281.07px;
    content: "4";
  }
  .advatanges__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .advatanges {
    margin-bottom: 60px;
    border-bottom: none;
  }
  .advatanges__title {
    padding-left: 3px;
    margin-bottom: 70px;
  }
  .advatanges__wrapper {
    padding: 0 110px;
  }
  .advatanges__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advatanges__item {
    margin-bottom: 10px;
  }
  .advatanges__item:nth-child(2n-1) {
    margin-right: 0;
  }
  .advatanges__item:nth-child(2n) {
    margin-right: 0;
  }
  .advatanges__item::before {
    width: 80px;
    height: 80px;
  }
}

.example {
  padding-top: 30px;
  background-color: #f2f2f2;
}
.example__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 60px;
  font-weight: inherit;
}
.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  min-width: 320px;
}
.example__description-wrapper {
  width: 100%;
  background-color: #f2f2f2;
}
.example__description {
  margin-bottom: 25px;
  padding-right: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example__result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
}
.example__result, .example__result-legend, .example__result-info {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}
.example__result {
  margin: 0;
  padding: 0;
  width: 124px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-color: #cdcdcd;
  border-radius: 3px;
}
.example__result-legend {
  width: 87px;
  height: 25px;
}
.example__result-legend-text {
  display: block;
  margin: 0 5px;
  padding-top: 5px;
  height: 25px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
.example__result-info {
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.example__price {
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: inherit;
  text-align: center;
}
.example__price-info {
  margin-left: 3px;
}
.example__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 320px;
  position: relative;
  background-color: #f2f2f2;
}
.example__before, .example__after {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 1;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.example__before {
  z-index: 2;
  width: 50%;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.example__before-wrapper {
  position: relative;
  width: 100vw;
  min-width: 320px;
  min-height: 240px;
}
.example__before-image, .example__after-image {
  position: absolute;
  bottom: 0;
}
.example__before-image {
  left: 0;
  z-index: 3;
}
.example__after-image {
  left: 43px;
  z-index: 2;
}
.example__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 240px;
}
@media (min-width: 321px) and (max-width: 767px) {
  .example__before-image, .example__after-image {
    left: 50%;
  }
  .example__before-image {
    margin-left: -156px;
  }
  .example__after-image {
    margin-left: -126px;
  }
}
@media (min-width: 768px) {
  .example {
    min-height: 1045px;
    padding-top: 0;
    background-color: #ffffff;
  }
  .example__title {
    margin-bottom: 50px;
    font-size: 60px;
  }
  .example__wrapper {
    padding: 0 30px;
  }
  .example__description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 248px;
    background-color: #ffffff;
  }
  .example__description {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }
  .example__result-wrapper {
    margin-bottom: 0;
  }
  .example__result {
    width: 162px;
    height: 80px;
    margin-right: 42px;
    margin-bottom: 0px;
  }
  .example__result-legend {
    width: auto;
  }
  .example__result-legend-text {
    font-size: 14px;
    line-height: 14px;
  }
  .example__result-info {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 37.02px;
  }
  .example__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: right;
  }
  .example__price-info {
    margin-top: 10px;
  }
  .example__slider-wrapper, .example__before-wrapper, .example__after-wrapper {
    min-height: 462px;
  }
  .example__before-wrapper {
    top: 170px;
    background-color: #f2f2f2;
  }
  .example__after-wrapper {
    position: relative;
    top: 169px;
    left: 0;
    background-color: #eaeaea;
  }
  .example__before, .example__after {
    top: -169px;
    left: 0;
    margin-left: calc(-50vw + 50%);
    min-height: 631px;
  }
  .example__before {
    width: 50vw;
    background-color: #fff;
  }
  .example__after {
    width: 100vw;
    background-color: transparent;
  }
  .example__before-image, .example__after-image {
    z-index: 2;
  }
  .example__before-image {
    top: -152px;
    left: 50%;
    width: 685px;
    height: 510px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .example__after-image {
    top: -169px;
    left: 17.8385417%;
    width: 545px;
    height: 517px;
  }
  .example__slider {
    position: absolute;
    bottom: 65px;
    left: 50%;
    z-index: 3;
    margin: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 769px) and (max-width: 1439px) {
  .example__after-image {
    left: 50%;
    margin-left: -272.5px;
  }
}
@media (min-width: 1440px) {
  .example {
    min-height: 370px;
  }
  .example__title {
    margin-bottom: 70px;
  }
  .example__wrapper {
    padding: 0 110px;
  }
  .example__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    max-width: 1440px;
    margin-left: -110px;
    padding: 0 110px;
    padding-right: 0;
    background-color: #f2f2f2;
  }
  .example__description-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    padding-top: 70px;
    padding-right: 107px;
    width: 540px;
    max-width: 720px;
    background-color: #f2f2f2;
  }
  .example__description {
    margin-top: 0px;
    margin-bottom: 70px;
    padding: 0;
  }
  .example__result-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 50px;
  }
  .example__result {
    margin-bottom: 10px;
  }
  .example__price {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 66px;
    text-align: left;
  }
  .example__price-info {
    margin-left: 67px;
  }
  .example__slider-wrapper {
    width: 790px;
    min-height: 460px;
  }
  .example__before-wrapper, .example__after-wrapper {
    top: 190px;
  }
  .example__before, .example__after {
    top: -190px;
    left: 0;
    margin-left: 0;
    height: 100%;
    min-height: 652px;
  }
  .example__before {
    width: 50%;
  }
  .example__after {
    width: 100%;
  }
  .example__before-image {
    top: -173px;
    left: 30px;
    width: 677px;
    height: 499px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .example__after-image {
    top: -190px;
    left: 121px;
  }
  .example__slider {
    left: 0;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.slider {
  width: 100%;
  min-width: 200px;
}
.slider__before-toggle, .slider__after-toggle {
  display: block;
  padding-bottom: 1px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.slider__before-toggle {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.slider__input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: auto 19px;
  padding: 6px 4px;
  width: 25%;
  min-width: 84px;
  height: 14px;
  border-radius: 25px;
  border: 1px solid;
  border-color: #cdcdcd;
}
.slider__input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  border-radius: 25px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .slider__before-toggle, .slider__after-toggle {
    padding-bottom: 5px;
    border-bottom: 1px dotted;
    border-bottom-color: #bebebe;
    font-size: 20px;
  }
  .slider__input {
    margin: auto 23px;
    padding: 0;
    width: 60%;
    height: 7px;
    border: none;
    background-color: #dcdcdc;
    pointer-events: none;
  }
  .slider__input::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 12px solid;
    border-color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 0px 1px #cdcdcd, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 0px 1px #cdcdcd, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
  }
  .slider__input::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0px 0px 0px 1px #cdcdcd, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 0px 1px #cdcdcd, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .slider__input::-webkit-slider-thumb:active {
    width: 30px;
    height: 30px;
    border: 11px solid;
    border-color: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #68b738, 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 0px 2px #68b738, 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .slider #before-after:hover ~ .slider__before-toggle,
  .slider #before-after:hover ~ .slider__after-toggle {
    border-bottom-style: solid;
  }
  .slider #before-after:active ~ .slider__before-toggle,
  .slider #before-after:active ~ .slider__after-toggle {
    border-bottom-color: transparent;
  }
}
@media (min-width: 1440px) {
  .slider {
    width: 570px;
  }
  .slider__before-toggle {
    width: 45px;
    margin-right: 25px;
  }
  .slider__after-toggle {
    width: 50px;
    margin-left: 22px;
  }
  .slider__input {
    width: 474px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts {
  min-height: 476px;
}
.contacts__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}
.contacts__map {
  width: 100vw;
  min-width: 320px;
  height: 362px;
  margin-left: calc(-50vw + 50%);
}
@media (min-width: 768px) {
  .contacts {
    min-height: 597px;
  }
  .contacts__wrapper {
    padding: 0 30px;
  }
  .contacts__map {
    height: 396px;
    overflow-x: hidden;
  }
}
@media (min-width: 1440px) {
  .contacts {
    min-height: 400px;
  }
  .contacts__wrapper {
    padding: 0;
  }
  .contacts__info {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
  }
  .contacts__map {
    width: 100%;
    height: 400px;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .contacts__map {
    margin-left: -20px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 280px;
  min-height: 114px;
  padding-top: 30px;
  background-color: #ffffff;
}
.info__title {
  margin: 0;
  margin-right: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  text-transform: uppercase;
}
.info__address {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.info__street {
  margin: 0;
}
.info__city {
  margin: 0;
}
@media (min-width: 768px) {
  .info {
    min-height: 200px;
    padding-top: 66px;
    padding-left: 40px;
    padding-right: 42px;
  }
  .info__title {
    font-size: 20px;
    line-height: 25px;
  }
  .info__address {
    font-size: 16px;
    text-align: right;
  }
  .info__street {
    margin-bottom: 22px;
  }
}
@media (min-width: 1440px) {
  .info {
    width: 570px;
    height: 201px;
    padding: 50px 70px 60px 75px;
  }
  .info__title {
    margin-right: 95px;
    font-size: 20px;
    line-height: 30px;
  }
  .info__address {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .info__street {
    margin-bottom: 19px;
  }
}

.page-footer {
  min-width: 320px;
  min-height: 236px;
  padding-top: 39px;
  text-align: center;
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  padding: 0 20px;
  height: 100%;
}
.page-footer__logo {
  display: block;
  margin-bottom: 31px;
  cursor: pointer;
}
.page-footer__social {
  padding-top: 21px;
  padding-bottom: 11px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer {
    min-height: 150px;
    padding-top: 0;
    text-align: left;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto 0;
    padding: 0 30px;
    min-height: 150px;
  }
  .page-footer__logo:hover {
    opacity: 0.8;
  }
  .page-footer__logo:active {
    opacity: 0.6;
  }
  .page-footer__logo, .page-footer__social, .page-footer__copyright {
    margin: auto 0;
  }
  .page-footer__social {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding: 0 110px;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 24px;
  height: 19px;
}
.social__svg {
  display: none;
}
@media (min-width: 768px) {
  .social__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social__item {
    width: 60px;
    margin: auto;
    margin-right: 0;
  }
  .social__link {
    width: 30px;
    height: 28px;
    margin: auto auto;
  }
  .social__link:active {
    opacity: 0.3;
  }
  .social__svg-mobile {
    display: none;
  }
  .social__svg {
    display: block;
  }
  .social__link--vk {
    -webkit-mask-image: url(/img/vk.svg);
            mask-image: url(/img/vk.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: auto;
            mask-size: auto;
    background-color: #666666;
  }
  .social__link--vk:hover {
    background-color: #68b738;
  }
  .social__link--inst {
    -webkit-mask-image: url(/img/insta.svg);
            mask-image: url(/img/insta.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: auto;
            mask-size: auto;
    background-color: #666666;
  }
  .social__link--inst:hover {
    background-color: #68b738;
  }
  .social__link--fb {
    -webkit-mask-image: url(/img/fb.svg);
            mask-image: url(/img/fb.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: auto;
            mask-size: auto;
    background-color: #666666;
  }
  .social__link--fb:hover {
    background-color: #68b738;
  }
}

.copyright {
  padding-top: 22px;
}
.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}
.copyright__link-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  color: #444444;
}
.copyright__link-logo {
  width: 27px;
  height: 34px;
  -webkit-mask-image: url(/img/htmlacademy.svg);
          mask-image: url(/img/htmlacademy.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: auto;
          mask-size: auto;
  background-color: #666666;
}
@media (min-width: 768px) {
  .copyright {
    padding-top: 0;
  }
  .copyright__link:active {
    opacity: 0.3;
  }
  .copyright__link:hover .copyright__link-logo {
    background-color: #68b738;
  }
  .copyright__link:active .copyright__link-logo {
    opacity: 0.3;
  }
  .copyright__link-text {
    margin-right: 22px;
  }
}
/*# sourceMappingURL=styles.css.map */
