@import "variables/variables.scss";
@import "mixins/mixins.scss";

.advatanges {
  margin-bottom: 42px;

  &__title {
    margin-bottom: 28px;

    font-size: $titleFontSize * 0.6;
    font-weight: inherit;
    line-height: $titleLineHeight;
  }

  &__wrapper {
    padding: 0 20px;
  }

  &__item {
    position: relative;

    min-width: 280px;
    min-height: 60px;
    padding-left: 80px;
    margin-bottom: 20px;

    &::before,
    &:first-child::before {
      @include list-item-before;
      background-image: url("/img/advantage-1.png");
      background-image: image-set(
        url("/img/advantage-1.webp"),
        url("/img/advantage-1.png")
      );
      @media (min-resolution: 2dppx) {
        background-image: url("/img/advantage-1.png-2x.png");
        background-image: image-set(
          url("/img/advantage-1.png-2x.webp"),
          url("/img/advantage-1.png-2x.png")
        );
      }
      background-size: 26px 29px;
    }

    &:nth-child(2)::before {
      @include list-item-before;
      background-image: url("/img/andvantage-2.png");
      background-image: image-set(
        url("/img/andvantage-2.webp"),
        url("/img/andvantage-2.png")
      );
      @media (min-resolution: 2dppx) {
        background-image: url("/img/andvantage-2.png-2x.png");
        background-image: image-set(
          url("/img/andvantage-2.png-2x.webp"),
          url("/img/andvantage-2.png-2x.png")
        );
      }
      background-size: 29px 31px;
      background-position: 48% 45%;
    }

    &:nth-child(3)::before {
      @include list-item-before;
      background-image: url(/img/advantage-3.png);
      background-image: image-set(
        url("/img/advantage-3.webp"),
        url("/img/advantage-3.png")
      );
      @media (min-resolution: 2dppx) {
        background-image: url("/img/advantage-3.png-2x.png");
        background-image: image-set(
          url("/img/advantage-3.png-2x.webp"),
          url("/img/advantage-3.png-2x.png")
        );
      }
      background-size: 23px 30px;
      background-position: 48% 50%;
    }

    &:nth-child(4)::before {
      @include list-item-before;
      background-image: url(/img/advantage-4.png);
      background-image: image-set(
        url("/img/advantage-4.webp"),
        url("/img/advantage-4.png")
      );
      @media (min-resolution: 2dppx) {
        background-image: url("/img/advantage-4.png-2x.png");
        background-image: image-set(
          url("/img/advantage-4.png-2x.webp"),
          url("/img/advantage-4.png-2x.png")
        );
      }
      background-size: 26px 31px;
    }
  }

  &__description {
    padding: 0;
    padding-top: 2px;
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: $basefontSize - 2;
    line-height: $baseLineHeight * 0.75;
  }

  @media (min-width: $tabletWidth) {
    margin-bottom: 43px;

    border-bottom: 1px solid;
    border-color: $colorBorderNav;

    &__title {
      margin-top: 45px;
      margin-bottom: 72px;

      font-size: $titleFontSize;
    }

    &__wrapper {
      padding: 0 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 245px;
      min-width: auto;
      min-height: 230px;
      padding-top: 110px;
      padding-left: 0;
      margin-bottom: 87px;

      span {
        display: block;
        margin-right: 10px;
      }

      &:nth-child(2n-1) {
        margin-right: 139px;
      }

      &:nth-child(2n) {
        margin-right: 70px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 56px;
      }

      &::after,
      &:first-child::after {
        @include list-item-after;
        content: "1";
        right: 4px;
      }

      &:nth-child(2)::after {
        @include list-item-after;
        content: "2";

        right: 11px;
      }

      &:nth-child(3)::after {
        @include list-item-after;
        content: "3";
      }

      &:nth-child(4)::after {
        @include list-item-after;
        content: "4";
      }

      &::before {
        width: 80px;
        height: 80px;
      }

      &:nth-child(2)::before {
        background-position: 49% 48%;
      }

      &:nth-child(3)::before {
        background-position: 50% 50%;
      }
    }

    &__description {
      font-size: $basefontSize;
      line-height: $baseLineHeight;
    }
  }

  @media (min-width: 800px) {
    &__list {
      justify-content: space-between;
    }

    &__item {
      &:nth-child(2n-1),
      &:nth-child(2n) {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }

  @media (min-width: 1100px) {
    &__list {
      gap: 0;
    }

    &__item {
      &:nth-child(2n-1),
      &:nth-child(2n) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    margin-bottom: 26px;

    border-bottom: none;

    &__title {
      padding-left: 3px;

      margin-bottom: 70px;
    }

    &__wrapper {
      padding: 0 110px;
    }

    &__item {
      margin-bottom: 10px;

      &:nth-child(2n-1) {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
