@import "./../variables/variables.scss";
@import "mixins/mixins.scss";

.programms {
  min-height: 1055px;
  min-width: 320px;
  margin-bottom: 16px;

  &__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }

  &__header {
    width: 100%;
    min-height: 480px;

    text-align: center;

    overflow-x: hidden;

    picture {
      display: block;
      height: 273px;
    }
  }
  &__main-title {
    margin-bottom: 25px;
    padding-top: 27px;

    font-size: $basefontSize * 2.25;
    line-height: $baseLineHeight * 1.5;
    font-weight: 400;
    color: $colorMainBg;
  }

  &__slogan {
    display: block;
    margin-bottom: 29px;

    font-size: $basefontSize - 2;
    font-weight: 300;
    line-height: $baseLineHeight - 10;
    text-transform: uppercase;
    color: $colorMainBg;
  }

  &__link {
    display: block;
    width: 100%;

    margin-bottom: 22px;

    font-size: $basefontSize - 2;
    font-weight: 350;
    line-height: $baseLineHeight - 6;
    text-transform: uppercase;
  }

  &__slim,
  &__weight {
    margin-bottom: 20px;
  }

  @media (min-width: 522px) and (max-width: 767px) {
    &__link {
      color: $colorBg;
      background-color: $colorTextNav;
    }
  }

  @media (min-width: $tabletWidth) {
    margin-bottom: 45px;

    &__wrapper {
      padding: 0 30px;
    }

    &__flex-wrapper {
      width: 100%;
    }

    &__header {
      min-height: 837px;
      margin-top: 29px;
      padding-left: 87px;

      text-align: left;

      background-image: url("../img/index-can-tablet.jpg");
      background-position: bottom center;
      background-repeat: no-repeat;

      picture {
        display: none;
      }
    }

    &__main-title {
      margin-bottom: 41px;

      font-size: $titleFontSize;
      line-height: $titleLineHeight;
      color: $colorTextMain;
    }

    &__slogan {
      margin-left: 1px;
      margin-bottom: 48px;

      font-size: $basefontSize * 1.25;
      line-height: $baseLineHeight - 4;
      font-weight: 400;
      color: $colorTextMain;
    }

    &__logo-image {
      display: none;
    }

    &__link {
      display: block;
      min-width: 245px;
      min-height: 52px;
      max-width: 280px;
      width: 245px;

      margin-left: 2px;
      padding: 15px 0;

      font-size: $basefontSize * 1.25;
      line-height: $baseLineHeight - 4;
      text-align: center;
    }

    &__slim,
    &__weight {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktopWidth) {
    min-height: 955px;
    margin-bottom: 72px;

    &__wrapper {
      padding: 0 110px;
    }

    &__flex-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__header {
      position: relative;

      display: flex;
      flex-direction: column;

      min-height: 395px;
      margin-left: 0;
      margin-top: 84px;
      margin-bottom: 187px;
      padding-left: 80px;

      background: none;
      overflow-x: visible;

      picture {
        display: block;

        height: 0;
      }
    }

    &__slogan {
      margin-bottom: 54px;
    }

    &__logo-image {
      position: absolute;
      top: -52px;
      left: 450px;

      width: 552px;
      height: 499px;

      display: block;
    }

    &__link {
      margin-left: 0;
    }

    &__slim,
    &__weight {
      margin-bottom: 0;
    }
  }
}
