$colorTextMain: #111111;
$colorTextP: #444444;
$colorTextNav: #ffffff;
$colorMainBg: #ffffff;
$colorBg: #68b738;
$colorAddBg: #f2f2f2;
$colorAfterBg: #eaeaea;
$colorSvg: #666666;
$colorBorder: #cdcdcd;
$colorBorderToggles: #bebebe;

$basefontSize: 16px;
$baseLineHeight: 24px;
$titleFontSize: 60px;
$titleLineHeight: 60px;
$titleFontSizeSmall: 36px;
$titleLineHeightSmall: 36px;
