$colorTextMain: #111111;
$colorTextP: #444444;
$colorTabletNav: #222222;
$colorTextNav: #ffffff;
$colorMainBg: #ffffff;
$colorBg: #68b738;
$colorAddBg: #f2f2f2;
$colorAfterBg: #eaeaea;
$colorSvg: #666666;
$colorBorder: #cdcdcd;
$colorBorderToggles: #bebebe;
$colorBorderNav: #e6e6e6;
$colorBorderProgramm: #d9d9d9;

$basefontSize: 16px;
$baseLineHeight: 24px;
$titleFontSize: 60px;
$titleLineHeight: 60px;
$titleFontSizeSmall: 36px;
$titleLineHeightSmall: 37.02px;

$tabletWidth: 768px;
$desktopWidth: 1440px;
