@import "variables/variables.scss";
@import "mixins/mixins.scss";

.catalog {
  min-height: 1672px;
  min-width: 320px;

  &__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    min-height: 209px;

    padding: 24px 20px;

    border: 1px solid;
    border-color: $colorBorderNav;
    border-top: none;
  }

  &__item-image {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__item-title {
    margin-left: 50%;
    padding-right: 50px;

    font-size: $basefontSize;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;

    &--more {
      display: block;

      width: 100%;

      margin: auto;
      margin-top: 55px;
      margin-bottom: 10px;
      padding-right: 0;

      text-align: center;

      &::before,
      &::after {
        content: "";

        position: absolute;
        top: 40px;
        left: 50%;

        width: 30px;
        height: 2px;

        background-color: $colorCatalogButtonAdd;

        transform: translateX(-50%);
      }

      &::after {
        transform: rotate(90deg) translateY(750%);
      }
    }
  }

  &__item-stats {
    margin-left: 50%;
    margin-bottom: 13px;
    width: 50%;

    tbody {
      font-family: Arial, sans-serif;
      font-size: $basefontSize * 0.75;
      line-height: 10px;

      tr td:nth-child(2) {
        text-align: right;
      }
    }
  }

  &__item-description {
    margin: auto;
    margin-top: 0;
    margin-bottom: 19px;

    font-family: Arial, sans-serif;
    font-size: $basefontSize * 0.75;
    line-height: 16px;
  }

  &__button {
    width: 100%;
    height: 40px;

    font-family: Oswald, Arial, sans-serif;
    font-size: $basefontSize;
    line-height: 20px;
    text-transform: uppercase;

    border: none;

    &--show {
      color: $colorTextP;

      background-color: $colorAddBg;

      &:hover {
        background-color: $colorGreyButtonHover;
      }
    }
  }

  @media (min-width: $tabletWidth) {
    min-height: 2145px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 30px;
    }

    &__item {
      width: 324px;
      min-height: 431px;

      margin-top: 140px;
      padding: 24px 38px;
      margin-right: 60px;

      border: none;

      background-color: $colorAddBg;

      picture {
        height: 0;
      }
    }

    &__item:nth-child(2n) {
      margin-right: 0;
    }

    &__item:last-of-type {
      background-color: transparent;

      border: 1px solid;
      border-color: $colorBorderNav;
    }

    &__item-image {
      top: auto;
      bottom: 306px;
      z-index: 2;
      left: 50%;

      width: auto;
      height: auto;

      transform: translateX(-50%);
    }

    &__item-title {
      margin: 0 auto;
      margin-top: 111px;
      padding: 0 50px;

      font-size: $basefontSize * 1.25;
      text-align: center;

      &--more {
        margin: 0 auto;
        margin-top: 128px;
        margin-bottom: 20px;

        &::before,
        &::after {
          top: 84px;

          width: 60px;

          background-color: $colorBorderNav;
        }

        &::after {
          transform: rotate(90deg) translateY(1500%);
        }
      }
    }

    &__item-stats {
      margin-left: 0;
      margin-bottom: 34px;
      width: 100%;

      border-collapse: collapse;

      tbody {
        font-size: $basefontSize;
        line-height: 25px;

        tr {
          border-bottom: 1px solid;
          border-bottom-color: $colorBorder;
        }
      }
    }

    &__item-description {
      margin: 0;
      margin-bottom: 59px;

      padding: 0 30px;

      font-size: $basefontSize;

      text-align: center;
    }
  }

  @media (min-width: 1166px) {
    &__item {
      margin-right: 60px;
    }

    &__item:nth-child(2n) {
      margin-right: 60px;
    }

    &__item:nth-child(3n),
    &__item:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: $desktopWidth) {
    min-height: 1150px;

    &__wrapper {
      padding: 0 110px;
    }

    &__item {
      width: 245px;

      margin-top: 145px;
      margin-right: 80px;
      padding: 40px 38px;
    }

    &__item:nth-child(2n-1),
    &__item:nth-child(3n) {
      margin-right: 80px;
    }

    &__item:nth-child(4n) {
      margin-right: 0;
    }

    &__item-title {
      margin-top: 120px;
      padding: 0 10px;
    }

    &__item-description {
      margin-bottom: 75px;
      padding: 0;
    }

    &__button {
      min-width: 168px;
    }
  }
}
