@import "variables/variables.scss";
@import "mixins/mixins.scss";

.copyright {
  padding-top: 22px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto 0;
  }

  &__link-text {
    align-self: flex-start;
    margin-top: 8px;

    font-family: Arial, sans-serif;
    font-size: $basefontSize;
    line-height: 16px;
    font-weight: inherit;
    color: $colorTextP;
  }

  &__link-logo {
    width: 27px;
    height: 34px;

    mask-image: url(/img/htmlacademy.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: auto;

    background-color: $colorSvg;
  }

  @media (min-width: $tabletWidth) {
    padding-top: 0;

    &__link {
      &:active {
        opacity: 0.3;
      }

      &:hover .copyright__link-logo {
        background-color: $colorBg;
      }

      &:active .copyright__link-logo {
        opacity: 0.3;
      }
    }

    &__link-text {
      margin-right: 22px;
    }
  }
}
