@import "variables/variables.scss";
@import "mixins/mixins.scss";

.example {
  &__title {
    margin-bottom: 60px;
    margin-left: 110px;

    font-size: $titleFontSize;
    line-height: $titleLineHeight;
    font-weight: inherit;
  }

  &__wrapper {
    display: flex;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;

    padding-left: 110px;
    padding-right: 175px;

    max-width: 720px;

    background-color: $colorAddBg;
  }

  &__description {
    margin-top: 75px;
    margin-bottom: 70px;

    font-family: Arial, sans-serif;
    font-size: $basefontSize;
    line-height: $baseLineHeight;
    color: $colorTextP;
  }

  &__result-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 60px;
  }

  &__result,
  &__result-legend,
  &__result-info {
    transform: rotate(180deg);
    text-align: center;
  }

  &__result {
    margin: 0;
    padding: 0;

    width: 162px;
    height: 80px;
    box-sizing: border-box;

    margin-right: 42px;
    margin-bottom: 10px;

    border: 1px solid;
    border-color: #cdcdcd;
    border-radius: 3px;
  }

  &__result-legend {
    height: 30px;
  }

  &__result-legend-text {
    margin: 0 8px;
    padding-bottom: 10px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
  }

  &__result-info {
    display: inline-block;

    margin: 0;

    font-size: $basefontSize * 1.875;
    line-height: $baseLineHeight * 1.5425;
    text-transform: uppercase;
  }

  &__price {
    margin-bottom: 10px;

    font-size: $basefontSize * 1.25;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: inherit;
  }

  &__price-info {
    margin-left: 67px;
  }

  &__slider-wrapper {
    display: flex;

    width: 50%;
    min-height: 460px;

    position: relative;

    background-color: $colorAddBg;
  }

  &__before,
  &__after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
  }

  &__before {
    background-color: $colorAddBg;
  }

  &__after {
    display: none;

    background-color: $colorAfterBg;
  }

  &__before-image,
  &__after-image {
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 2;

    transform: translateX(-50%);
  }

  &__slider {
    position: absolute;
    bottom: 45px;
    left: 50%;
    z-index: 3;

    margin: auto;

    transform: translateX(-50%);
  }
}
