@import "variables/variables.scss";
@import "mixins/mixins.scss";

.gift {
  position: relative;
  min-width: 245px;
  height: 289px;

  padding: 0 26%;
  padding-top: 190px;

  background-image: url("/img/gift-photo-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;

    background-image: url(/img/gift.svg);
    background-position: center;
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }

  &__description {
    font-family: Arial, sans-serif;
    font-size: $basefontSize;
    line-height: 20px;
    text-align: center;
    color: $colorTextNav;
  }

  @media (min-width: $tabletWidth) {
    width: 100%;
    min-height: 345px;

    padding-top: 140px;
    padding-left: 54.947917%;
    padding-right: 95px;

    background-image: url("/img/gift-photo-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &::before {
      top: 50%;
      left: 12.85%;

      transform: translateY(-50%);
    }

    &__description {
      text-align: left;
    }
  }

  @media (min-width: $desktopWidth) {
    width: 245px;
    height: 248px;

    padding-top: 185px;
    padding-left: 40px;
    padding-right: 40px;

    background-image: url("/img/gift-photo-desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;

    &::before {
      top: 60px;
      left: 50%;

      transform: translateX(-50%);
    }

    &__description {
      text-align: center;
    }
  }
}
