@import "variables/variables.scss";
@import "mixins/mixins.scss";

.info {
  display: flex;
  justify-content: flex-start;

  min-width: 280px;
  min-height: 114px;

  padding-top: 28px;

  background-color: $colorMainBg;

  &__title {
    margin: 0;
    margin-right: 18px;

    font-size: $basefontSize;
    line-height: 20px;
    font-weight: inherit;
    text-transform: uppercase;
  }

  &__address {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: $basefontSize * 0.875;
    line-height: 20px;
    color: $colorTextP;
  }

  &__street {
    margin: 0;
  }

  &__city {
    margin: 0;
  }

  @media (min-width: 321px) {
    justify-content: space-between;
  }

  @media (min-width: $tabletWidth) {
    min-height: 201px;

    padding-top: 63px;
    padding-left: 40px;
    padding-right: 42px;

    &__title {
      font-size: $basefontSize * 1.25;
      line-height: 25px;
    }

    &__address {
      font-size: $basefontSize;
      text-align: right;
    }

    &__street {
      margin-bottom: 22px;
    }
  }

  @media (min-width: $desktopWidth) {
    width: 570px;
    height: 201px;

    padding: 58px 90px 60px 75px;

    &__title {
      margin-right: 95px;

      font-size: $basefontSize * 1.25;
      line-height: 26px;
    }

    &__address {
      font-size: $basefontSize;
      line-height: 20px;

      text-align: left;
    }

    &__street {
      margin-bottom: 19px;
    }
  }
}

#catalog .info {
  padding: 0 20px;
  padding-top: 28px;

  background-color: $colorAddBg;
}
