@import "./../variables/variables.scss";

.main-navigation {
  display: flex;
  flex-direction: column;

  min-width: 320px;

  @media (min-width: $tabletWidth) {
    flex-direction: row;

    &__toggle {
      display: none;
    }
  }

  @media (min-width: $desktopWidth) {
  }
}
