@import "variables/variables.scss";
@import "mixins/mixins.scss";

.page-header {
  position: relative;

  min-height: 66px;

  &__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }

  &__logo {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 66px;
  }

  &__logo-mobile {
    position: absolute;

    top: 50%;
    left: 0;

    transform: translateY(-50%);
  }

  @media (min-width: $tabletWidth) {
    min-height: 77px;

    &__wrapper {
      display: flex;
      justify-content: space-between;

      padding: 24px 30px;
    }

    &__logo {
      display: block;

      width: auto;
      height: auto;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    &__logo img {
      width: 178px;
      height: 58px;
    }

    &__logo-name-mobile {
      display: none;
    }
  }

  @media (min-width: $desktopWidth) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 720px;
      height: 696px;

      background: url(/img/index-background-desktop.jpg.jpg) 50% no-repeat;
    }

    &__wrapper {
      padding: 50px 110px 0;
    }

    &__logo img {
      width: 202px;
      height: 59px;
    }
  }
}
