@import "variables/variables.scss";
@import "mixins/mixins.scss";

.social {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 50px;

    margin-right: 10px;
    margin-bottom: 10px;

    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 24px;
    height: 19px;
  }

  &__svg {
    display: none;
  }

  @media (min-width: $tabletWidth) {
    &__list {
      justify-content: space-between;
    }

    &__item {
      width: 60px;
      margin: auto;
      margin-right: 0;
    }

    &__link {
      width: 30px;
      height: 28px;

      margin: auto auto;

      &:active {
        opacity: 0.3;
      }
    }

    &__svg-mobile {
      display: none;
    }

    &__svg {
      display: block;
    }

    &__link--vk {
      mask-image: url(/img/vk.svg);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: auto;

      background-color: $colorSvg;

      &:hover {
        background-color: $colorBg;
      }
    }

    &__link--inst {
      mask-image: url(/img/insta.svg);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: auto;

      background-color: $colorSvg;

      &:hover {
        background-color: $colorBg;
      }
    }

    &__link--fb {
      mask-image: url(/img/fb.svg);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: auto;

      background-color: $colorSvg;

      &:hover {
        background-color: $colorBg;
      }
    }
  }
}
