@import "./../variables/variables.scss";

.weight {
  position: relative;

  padding: 22px 20px 22px 20px;

  min-width: 280px;
  min-height: 266px;

  background-color: $colorAddBg;

  &__title {
    margin-top: 8px;
    margin-left: 71px;
    margin-bottom: 30px;

    font-size: $titleFontSizeSmall - 12;
    line-height: $titleLineHeightSmall;
    font-weight: 400;

    text-transform: uppercase;

    &::before {
      content: "";

      position: absolute;
      top: 24px;
      left: 22px;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      background-color: $colorBg;
    }

    &::after {
      content: "";

      position: absolute;
      top: 35px;
      left: 13px;

      width: 68px;
      height: 28px;

      background: url("/img/weight-icon.svg") center no-repeat;
      background-size: 100%;
    }
  }

  &__description {
    padding-bottom: 21px;

    color: $colorTextP;

    font-size: $basefontSize - 2;
    line-height: $baseLineHeight - 6;
    font-family: Arial, sans-serif;
    font-weight: 400;

    border-bottom: 1px solid;
    border-color: $colorBorderProgramm;
  }

  &__catalog-link {
    position: absolute;
    bottom: 26px;

    display: block;

    margin-top: 18px;

    font-size: $basefontSize;
    line-height: $basefontSize - 8;
    text-transform: uppercase;
    color: $colorTextMain;

    &::before {
      content: "";

      position: absolute;
      bottom: 2px;
      left: 95px;

      width: 17px;
      height: 3px;

      background-color: $colorProgrammPseudo;
    }

    &::after {
      content: "";

      position: absolute;
      bottom: -2px;
      left: 112px;

      width: 11px;
      height: 11px;

      border: 5px solid transparent;
      border-left: 7px solid;
      border-left-color: $colorProgrammPseudo;
    }

    &:hover::before {
      width: 26px;
    }

    &:hover::after {
      left: 121px;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tabletWidth) {
    padding: 76px 315px 55px 52px;

    min-height: 372px;

    &__title {
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 25px;

      font-size: $titleFontSizeSmall;

      &::before {
        top: 91px;
        right: 60px;
        left: auto;

        width: 200px;
        height: 200px;
      }

      &::after {
        top: 135px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 112px;

        background-image: url("/img/weight-icon-big.svg");
      }
    }

    &__description {
      padding-bottom: 0;
      margin-bottom: 60px;

      font-size: $basefontSize;
      line-height: $baseLineHeight;

      border: none;
    }

    &__catalog-link {
      bottom: 62px;

      font-size: $basefontSize * 1.25;
      line-height: $baseLineHeight - 4;

      &::before {
        bottom: 8px;
        left: 126px;
      }

      &::after {
        bottom: 4px;
        left: 143px;
      }

      &:hover::after {
        left: 150px;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    max-width: 570px;
    padding: 76px 30px 55px 50px;

    &__title {
      margin-bottom: 72px;
      margin-left: 44px;

      text-align: center;

      &::before {
        top: 47px;
        left: 52px;
        right: auto;

        width: 100px;
        height: 100px;
      }

      &::after {
        top: 69px;
        left: 34px;
        right: auto;

        width: 134px;
        height: 56px;

        background-image: url("/img/weight-icon-desktop.svg");
      }
    }

    &__description {
      margin-bottom: 40px;
    }

    &__catalog-link {
      margin-left: 3px;

      &::before {
        bottom: 8px;
      }

      &::after {
        bottom: 4px;
      }
    }
  }
}
